/*================ 
        Font style
================= */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu&display=swap');

*{
        margin: 0%;
        padding: 0%;
        font-family: 'Oswald', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Ubuntu', sans-serif;
      
}
main{
        width: 80%;
        margin: 0 auto;
}
nav{
        display: flex;
        justify-content: space-between;
       
}
.logo{
        font-size: 26px;
        font-weight: 900;
        color: #3A3A3A;
}
.container{
        display: flex;
        align-items: center;
        margin-top: 20px;
        border: 1px solid gray;
        background-color: rgb(255, 255, 255);
        border: 0;
        margin-top: 95px;
}
.navigation ul{
        display: flex;
}
.navigation li{
        list-style: none;      
        margin: 10px 20px; 
}
.navigation li a{
         display: flex;
        flex-direction: column;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #3A3A3A;
        justify-content: space-between;
}
/*=============== 
        Banner design 
===============*/
.banner-container{
        width: 100%;
        
}
.banner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 120px;
        align-items: center;      
        height: 800px; 
        margin-bottom: 120px;
}
.left-side-banner{
        width: 600px;
        height: 270px;
        
}
.right-side-banner{
        height:100%;
         display: flex;
        justify-content: center;
        align-items: center;
}
.right-side-banner img{
        width: 400px;
        height: 400px;
        border: 1px solid white;
        border-radius: 10px;
}
.right-side-banner:hover img{
        box-shadow: 0 30px 100px 0 rgb(98, 47, 47);
}
.title{
        font-size: 52px;
        color: #1f2c38ed;;
        line-height: 70px;
}
.details{
        font-weight: 600;
        line-height: 24px;
}
.booking-btn{
        background-color: #ee2c73;
        padding: 10px 30px;
        margin-top: 20px;
        outline: none;
        border: 0;
        color: #fff;
        font-weight: 700;
        border-radius: 25px;
        font-size: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 8px rgb(119, 105, 80);
} 

        /*===============
         button Transform
         ================ */
.booking-btn:hover{
        background-color: rgb(26, 139, 135);
}
.booking-btn:active{
        content: '';
        transform: translateY(4px);
        box-shadow: 0 5px rgb(59, 50, 50);
}
/* second section */
.popular-collection{
        width: 1047px;
        height: 1600px;
        margin:0 auto;
}
.heading-title{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
}
.collections{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 200px;
        row-gap: 4em;  
        background-color: #fffcfc;    
        justify-content: space-between;
}
.photo img{
        padding-bottom: 20px;
        width: 300px;
        height: 256px;
        border: 1px solid;
        border-radius: 10px;
        border: 0;
}
.photo-fram{
        padding: 10px 1em;
        border: 1px solid;
        border-radius: 10px;
        border: 0;
        background-color: #ffffff;
        margin-left: -80px;
        box-shadow: 0 10px 20px rgb(136, 133, 133);
}
.pic{
        display: flex;
        width: 15px;
        height: 9px;
        color: goldenrod;
        align-items: center;     
        margin-bottom: 5px;
}
#last{
         color: rgb(197, 197, 197);
}
.photo-deatils h3{
        color: #18191F;
        font-size: 28px;
}
.photo-deatils p{
        font-size: 16px;
        line-height: 20px;
}
.price{
        margin-bottom: 5px;
        font-size: 24px;
}
        /*================
         section section end
         ================= */
         .view{
                 text-align: end;
                 font-size: 16px;
                 color: rgba(224, 44, 109, 0.87);
                 font-weight: bold;
                 margin-top: -50px;
         }
